﻿/*******tic-tac-toe******/
#tic-tac-toe .disable {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    text-transform: uppercase;
}

#tic-tac-toe #game li {
    color: #fff;
    color: #ccc;
    float: left;
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}

#tic-tac-toe #game li.disable {
     color: #fff;
}

#tic-tac-toe #game {
    clear: both;
    float: left;
    padding: 0;
}

.new_span {
     width: 226px
}

#tic-tac-toe #reset {
    clear: both;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    outline: none;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 204px
}

.input-prepend span.pre_text {
     width: 55px
}

.input-prepend .span1 {
     width: 93px
}

.input-prepend {
     margin-bottom: 10px
}

.clr {
    clear: both;
    height: 0
}

#tic-tac-toe h1 {
    font-size: 28px;
    text-align: center;
}

#tic-tac-toe li::-moz-selection {
    background: none;
    color: #000;
}

#tic-tac-toe li::-webkit-selection {
    background: none;
    color: #000;
}

#tic-tac-toe {
    margin: 0 auto;
    width: 220px;
}

.input-append .win_times {
    background: #fff;
    width: 101px
}

.input-append .win_text { 
    width: 52px 

}